<launch>
	<arg name="fixed_frame_name" default="rslidar" />
	<arg name="voxel_leafsize" default="0.10"/>
	<arg name="x_max" default="3.0"/>
	<arg name="x_min" default="-3.0"/>
	<arg name="y_max" default="3.0"/>
	<arg name="y_min" default="-3.0"/>
	<arg name="z_max" default="3.0"/>
	<arg name="z_min" default="-3.0"/>

	<!-- <arg name="dataset_path" default="/home/yeongsoo/HostWorkspace/pt_ws/pothole_pro/dataset/2011_09_26_drive_0002_sync/oxts/data" />
	<arg name="threshold_range" default="18.0" />
	<arg name="min_travle_distacne" default="1.0" />
	<arg name="add_threshold" default="1.0" />
	<arg name="ndt_epsilon" default="0.01" />
	<arg name="ndt_stepSize" default="0.1" />
	<arg name="ndt_resolution" default="1.0" />
	<arg name="last_code" default="false" />
	<arg name="threshold_high" default="-100" />
	<arg name="threshold_low" default="-100" /> -->

	<node pkg="pothole" type="pothole" name="pothole" args="input:=/rslidar_points" output="screen">
		<param name="fixed_frame_name" value="$(arg fixed_frame_name)"/>
		<param name="voxel_leafsize" value="$(arg voxel_leafsize)"/>
		<param name="x_max" value="$(arg x_max)"/>
		<param name="x_min" value="$(arg x_min)"/>
		<param name="y_max" value="$(arg y_max)"/>
		<param name="y_min" value="$(arg y_min)"/>
		<param name="z_max" value="$(arg z_max)"/>
		<param name="z_min" value="$(arg z_min)"/>

		<!-- <param name="dataset_path" value="$(arg dataset_path)"/>
		<param name="threshold_range" value="$(arg threshold_range)"/>
		<param name="min_travle_distacne" value="$(arg min_travle_distacne)"/>
		<param name="add_threshold" value="$(arg add_threshold)"/>
		<param name="ndt_epsilon" value="$(arg ndt_epsilon)"/>
		<param name="ndt_stepSize" value="$(arg ndt_stepSize)"/>
		<param name="ndt_resolution" value="$(arg ndt_resolution)"/>
		<param name="last_code" value="$(arg last_code)"/>
		<param name="threshold_high" value="$(arg threshold_high)"/>
		<param name="threshold_low" value="$(arg threshold_low)"/> -->
	</node>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find pothole)/rviz/pothole.rviz" />
</launch>

